<div class="side-bar">
    <div> <i class="uil uil-ellipsis-h"></i></div>
    <ul class="side-bar__list list-one">
        <!-- Para usar router desde el html usamos una directiva llamada routerLink-->
        <li [routerLink]="item.router" [queryParams]="item.query" *ngFor="let item of mainMenu.defaultOptions">
        <!-- otro de los metodos mas usados por angular es el 
         del click y ese evento debo programarlo dentro del componente              -->
        <!-- <li (click)="goTo($event)" *ngFor="let item of mainMenu.defaultOptions"> -->
        <!-- <li *ngFor="let item of mainMenu.defaultOptions"> -->
            <div class="list-wrapper-item">
                <!-- Hacen lo mismo pero uno mas elegante que el otro -->
                <!-- <i class="uil {{item.icon}}"></i> -->
                <i [ngClass]="['uil',item.icon]"></i>
                <span class="side-bar__list list-label">{{item.name}}</span>
            </div>
        </li>
    </ul>
    <div class="side-bar__separator"></div>
    <ul class="side-bar__list list-two">
        <li *ngFor="let item of mainMenu.accessLink">
            <div class="list-wrapper-item">
                <i [ngClass]="['uil',item.icon]"></i>
                <span class="side-bar__list list-label">{{item.name}}</span>
            </div>
        </li>
    </ul>
    <div class="side-bar__separator line-separator"></div>
    <ul class="side-bar__list list-three">
        <li *ngFor="let item of customOptions">
            <div class="list-wrapper-item">
                <span class="side-bar__list list-label">{{item.name}}</span>
            </div>
        </li>
    </ul>
</div>
